/* These are the rule names that we in Week 4 assignment.
If the property is given in the example it is in this file */

/* Step 9 set the max-width and set the margin for the conent */
#content {}

/* Step 10  Center items */
nav a {}

#hero-msg h1,
#hero-msg h4 {}

.button-box {}

main section {}

/* Sep 11  Set the empty div height */
#background {
    height: 725px;
}

/* Step 12 Set the background color on elements */
body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
}

.book,
.join {}

.book:hover,
.join:hover {}

#background {}

.msg {}

footer {}

/* Step 13  Set the font color */
nav a:hover {
    background-color: black;
    color:            #d9c2a3;
}

nav a {}

.home-title {}

h4 {}

.book,
.join {}

.book:hover,
.join:hover {}

.msg h2 {}

.msg p {}

footer h3 {}

footer a {}

footer h3 a:hover {} <- This can also be written as footer a:hover

/* Step 14  set the width of the icons, logo and the hero-img */
.icon {
    width: 80px;
}

.logo {}

#hero-img {}

/* Step 15 
Remove the underline on links and add the underline to the footer links on hover only  */
nav a {
    text-align:      center;
    color:           #fcfbfb;
    text-decoration: none;
}

.book,
.join {}

footer a {}

footer h3 a:hover {}