@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Phase 1*/


nav a{
    text-align:         center;
    background-color: #F5DC71;
    color:            #1B496D;
    text-decoration:    none;
    padding:            35px;
}


#background {
    height:             725px;
    background-color: #77C4D6;
}

/*
.button-box{

}*/

/* Images Properties*/
#hero-img{
  height:                auto;
  width:                 100%;  
}

/*Color Properties*/
body {
    background-color:   #1B496D;
    font-family:          'PT Sans Narrow', Helvetica, sans-serif;
    font-size:            22px;
    margin:               0;
    padding:              0; 
}

header {
    background-color:   #F5DC71;
}

nav a:hover {
    background-color:   #afaf60;
    color:              #1B496D;
    text-decoration:      none;
}

#hero-msg h1, 
#hero-msg h4{
    text-align:            center;
    background-color:    #F5DC71;
}

/*main section{

}*/
/*picture alignment*/
.rivers-card{
    margin:                200px 0;
}
.camping-card{
    margin:                200px 0;
}
.rapids-card{
    margin:                200px 0;
}


.button-box{
    text-align:         center;
}


.msg{
    background-color: #afaf60;
    text-align:         center;
    line-height:        1.5em;
    padding:            35px;
}


.home-grid{
    text-align:         center;
}

/*Phase 2*/
.home-title {
    color:            #1B496D;
    margin:             10px 0 0 0;
    background-color: #F5DC71;
    font-family:        'PT Sans Narrow', Helvetica, sans-serif;
    font-size:          2em;
    margin-top:         10px;
}
/*H Fam */
h2 {
    margin:             0;
}
h4{ 
    color:            #1B496D;
}

.book, .join {
    background-color:  #77C4D6;
    color:             #1B496D;
    text-decoration:     none;
    font-family:        'PT Sans Narrow', Helvetica, sans-serif;
    font-size:           18px;
    padding:             15px 30px;
    margin-top:          10px;
    border-radius:       5px;
}


.card-img {
    border:              10px solid #afaf60;
}

main section img {
    box-sizing:          border-box;
}


/*Hover link*/
.book:hover{
    background-color:  #77C4D6;
    color:             #1B496D;
    text-decoration:      none;
} 
.join:hover{
    background-color:  #F5DC71;
    color:             #1B496D;
}


.msg h2{
    background-color:  #afaf60;
    color:             black;
    text-align:          center;
}

.msg p{
    background-color:  #afaf60;
    color:             black  ;
    font-family:        'PT Sans Narrow', Helvetica, sans-serif;
    font-size:           .8em;
    padding-bottom:      15px;
}
/*Footer*/
footer{
    background-color:   #afaf60;
    text-decoration:       none;
    padding:               25px 50px;
    margin-top:            200px
}

footer h3{
    background-color:  #afaf60;
    color:             #1B496D;
    text-decoration:      none;
    
}

footer a{
    background-color:  #afaf60;
    color:             #1B496D;
    text-decoration:      none;

}
footer a:hover{
    background-color:  #1B496D;
    color:             #F5DC71;
    text-decoration:     none;
}

footer .social img{
    padding-top:        15px;
}


.icon {
    width:              80px;
    padding-top:        10px;
}

#logo_link{
    text-decoration:    none;
    color:            #afaf60;
    text-align:         center;
    padding-top:        5px;
}

a:hover{
    text-decoration:    none;
}
#content{
    max-width:          1600px;
    margin:             auto;
    background-color: #F5DC71;
}

