/******************************************************************************
START grid layout extra credit
******************************************************************************/

body{
  background-color: gray;
}
* {
    box-sizing: border-box;
  }
  .grid1 {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 100px);
   
  }
  
  .grid1 h1 {
    text-align: left;
  }
  
  .grid2 {
    border: 100px;
    
  }
  .grid2 h2 {
    
  }
  .grid3 {
    
  }
  
  .grid3 h3 {
    
  }
  
  .grid4 {
    
  }
  
  .grid4 h2 {
    
  }
  
  section {
    
  }
  
  section h2 {
    
  }
  
  form {
    background-color: #fff;
    
  }
  
  
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  
  fieldset > div {
    
  }
  
  label {
    
  }
  
  input {
    
  }
  
  button {
    
  }
  
  section > div {
    
  }