/******************************************************************************
START grid layout extra credit
******************************************************************************/

body{
  background-color: gray;
}
* {
    box-sizing: border-box;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-top: 2em;
    grid-row: auto;
  }
  
  .grid1 h1 {
   padding:1rem;
   align-items: center;
  }
  
  .grid2 {
    border: 100px;
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #fff;
  }
  .grid2 h2 {
    padding: 1rem;
    align-items: center;
  }

  .grid3 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding:1rem;
  }
  
  .grid3 h3 {
    padding: 1rem ;
    align-items: center;
  }
  
  .grid4 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding:1rem;
  }
  
  .grid4 h2 {
    padding: 1rem;
  }
  
  section {
    
  }
  
  section h2 {
    padding: 1rem;
  }
  
  form {
    background-color: #fff;
    
  }
  
  
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  
  fieldset > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr 5fr);
    padding-top: 2em;
  }
  
  label {
    text-align: right;
    grid-column: 1;
  }
  
  input {
    grid-column: 2;
    width: 100%;
  }
  
  button {
    grid-column: span;
    width: 100%;
    background-color: yellowgreen;
  }
  
  section > div {
    display: grid;
   
    grid-template-columns: repeat(3,1fr 2fr);
    grid-gap: 0 1em;
    text-align: left;
    width: 100%;
  }